.navParent {
    background-color: #125252;
    height: 94px;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    /* identical to box height */

    text-align: center;
}

.navParent>.child1 img {
    width: 65px;
    height: 42px;
}

.navParent .search-icon {
    background-image: url('../resources/images/searchicon.png');
    background-position: 1em .6em;
    padding-left: 40px;
    background-size: 15px;
    background-color: inherit;
    background-repeat: no-repeat;
    /* width: 432px; */
    width: 70%;
    color: white;
    text-align: left;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
}

.navParent input {
    /* border: pink 2px solid; */
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.navParent .child2 button {
    color: white;
}

.navParent>.child2 input::placeholder {
    color: white;
}

.navParent div {
    /* border: 2px red solid; */
}

.navParent .child1 {
    width: 20%;
}

.navParent .child2 {
    width: 50%;
}

.navParent .child3 {
    width: 30%;
}

.navParent .child1>div:first-child {
    color: white;
    width: auto;
    margin: auto 1.5em auto 3em;
}

.navParent .child1>div:nth-child(2) img {
    /* color: white;
    height: 42px; */
}

.drop-menu {
    transform: scale(200%);
    transition: transform 300ms ease-in-out;
}

.drop-menu:hover {
    cursor: pointer;
    transform: rotate(45deg);
    /* transform: scale(200%); */
}