.promoParent {
    background-color: white;
}

.promoParent .content {
    width: 240px;
    /* border: 2px red solid; */
    margin: 0;
    padding: 0;

}

.promoParent .content>div>p {
    font-family: 'Publica-Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;


    color: #727272;
    padding: 0;
    margin: 0;
}